<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fuse Exercise</title>
    <style type="text/css">
      label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Fuse Exercise</h1>
    <p>Author: Nick Ramirez</p>

    <ul>
        <li><label>Hostname:</label> <%= @hostname %></li>
        <li><label>IP:</label> <%= @ip_address %></li>
        <li><a href="<%= @chef_log_path %>">Chef log</a></li>
    </ul>
  </body>
</html>